<ion-card>
  <img alt="title" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Categorie</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
  <div class="ion-margin-vertical">
    <ion-button  color="primary" fill="outline"> 53303470 <ion-icon  name="call-outline" slot="start" ></ion-icon></ion-button>
    <ion-label  fill="outline"> <ion-icon slot="end"></ion-icon> 250 <strong>$</strong></ion-label>
  </div>
</ion-card> 